<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <!-- Define the custom REST API appender -->
    <appender name="REST_API" class="com.alfie.logger.restlogger.RestLogbackAppender">
        <apiUrl>https://your-rest-api-endpoint.com/log</apiUrl>
    </appender>

    <root level="INFO">
<!--        <appender-ref ref="CONSOLE"/>-->
        <appender-ref ref="REST_API"/>
    </root>

    <logger name="org.springframework.web" level="DEBUG"/>
</configuration>